<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidacid.apticalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Main menu intents -->
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiCalc" />
        <activity android:name="com.droidacid.apticalc.tys.OneDifficulty" />
        <activity android:name="com.droidacid.apticalc.tipsandtricks.TipsAndTricks" />
        <activity android:name="com.droidacid.apticalc.formulas.Formulas" />
        
        <!-- Test yourself -->
        <activity android:name="com.droidacid.apticalc.tys.TwoLevel" />
        <activity android:name="com.droidacid.apticalc.tys.ThreeCounter" />
        <activity android:name="com.droidacid.apticalc.tys.FourCalculation" />
        <activity android:name="com.droidacid.apticalc.tys.TYSScores" />
        <activity android:name="com.droidacid.apticalc.tys.HighScores" />
        
        <!-- Aptitude Intents -->
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiNumSys" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiPercent" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiPerValue" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiTimeNWork" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiTimeDist" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiInterest" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiSimpleInt" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiCompoundInt" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiLcmHcf" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiLcm" />
        <activity android:name="com.droidacid.apticalc.aptitudes.AptiHcf" />
        <activity android:name="com.droidacid.apticalc.tipsandtricks.TnTricksNumSys" />
        
        <!-- Formulas Intents Code -->
        <activity android:name="com.droidacid.apticalc.formulas.FSquaresCubesFractions" />
        <activity android:name="com.droidacid.apticalc.formulas.FDivisibilityRule" />
        <activity android:name="com.droidacid.apticalc.formulas.FExponents" />
        <activity android:name="com.droidacid.apticalc.formulas.FLogarithms" />
        <activity android:name="com.droidacid.apticalc.formulas.FProgressions" />
        <activity android:name="com.droidacid.apticalc.formulas.FQuadratic"/>
        <activity android:name="com.droidacid.apticalc.formulas.FProbabilityPandC" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry" />
        <activity android:name="com.droidacid.apticalc.formulas.FCoordinateGeometry" />
        <activity android:name="com.droidacid.apticalc.formulas.FTrigonometry" />
        <activity android:name="com.droidacid.apticalc.formulas.FSquares" />
        <activity android:name="com.droidacid.apticalc.formulas.FCubes" />
        <activity android:name="com.droidacid.apticalc.formulas.FDecimals" />
        <activity android:name="com.droidacid.apticalc.formulas.FProbability" />
        <activity android:name="com.droidacid.apticalc.formulas.FBinomial" />
        <activity android:name="com.droidacid.apticalc.formulas.FCount" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometryFundamentals" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreasAndPerimeters" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeAndSurfaceAreas" />
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangleProperties" />
        <activity android:name="com.droidacid.apticalc.formulas.FQuadrilateralProperties" />
        <activity android:name="com.droidacid.apticalc.formulas.FPentagonProperties" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry1" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry2" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry3" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry4" />
        <activity android:name="com.droidacid.apticalc.formulas.FGeometry5" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaCircle" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaTriangle" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaEquilateralTriangle" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaSquare" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaRectangle" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaParallogram" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaRing" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaSector" />
        <activity android:name="com.droidacid.apticalc.formulas.FAreaTrapezoid" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeCone" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeCube" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeCylinder" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeFrustum" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumePyramid" />
        <activity android:name="com.droidacid.apticalc.formulas.FVolumeSphere" /> 
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties1" />
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties2" />
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties3" />
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties4" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle1ctivity" />
        <activity android:name="com.droidacid.apticalc.formulas.FCircleProperties5" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle1" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle2" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle3" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle4" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle5" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle6" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle7" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle8" />
        <activity android:name="com.droidacid.apticalc.formulas.FTriangle9" />
        <activity android:name="com.droidacid.apticalc.formulas.FLineEquation" />
        <activity android:name="com.droidacid.apticalc.formulas.FLineDistance" />
        <activity android:name="com.droidacid.apticalc.formulas.FLineMidpoint" />
        <activity android:name="com.droidacid.apticalc.formulas.FLineSlope" />
        <activity android:name="com.droidacid.apticalc.formulas.FSlopeParallelLines" />
        <activity android:name="com.droidacid.apticalc.formulas.FSlopePerpendicularLines" />
      <!-- NEED TO FIX THIS PART, ECLIPSE FUCKED SOMETHING UP  
      com.droidacid.apticalc.formulas.FTrigonometryCommonAnglesng/app_name" />
       com.droidacid.apticalc.formulas.FTrigonometryPeriodicFormulasd:name=".FCircleEquation"
            android:label="@string/com.droidacid.apticalc.formulas.FTrigonometryBasics 
      -->
        <activity android:name="com.droidacid.apticalc.formulas.FTrigonometryBasics" />
        <activity android:name="com.droidacid.apticalc.formulas.FTrigonometryCommonAngles" />
        <activity android:name="com.droidacid.apticalc.formulas.FTrigonometryPeriodicFormulas" />
        <activity android:name="com.droidacid.apticalc.formulas.FTrigonometryPythagorean" />
        <activity android:name="com.droidacid.apticalc.formulas.FHalfAngleFormulas" />
        
        <!-- _____________________ More About This App __________________ -->  
        <activity android:name="com.droidacid.apticalc.more.More" />
        <activity android:name="com.droidacid.apticalc.more.AboutUs" />
        <activity android:name="com.droidacid.apticalc.more.LikeUs" />
        <activity android:name="com.droidacid.apticalc.more.Report" />
        <activity android:name="com.droidacid.apticalc.more.Review" />
        <activity android:name="com.droidacid.apticalc.more.Suggest" />
        <activity android:name="com.droidacid.apticalc.more.Upgrade" />
        
</application>
</manifest>